@keyframes zoomIn {
    from {
        opacity: 0.5;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.zoomIn {
    animation: zoomIn 0.15s linear;
}