@keyframes zoomOut {
  from {
    opacity: 1;
    transform-origin: center;
  }
  50% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut {
  animation: zoomOut 0.3s linear;
}
