$scaleRatio: 1.05;

@keyframes zoomIn {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: scale($scaleRatio);
        -webkit-transform: scale($scaleRatio);
        -moz-transform: scale($scaleRatio);
        -ms-transform: scale($scaleRatio);
        -o-transform: scale($scaleRatio);
    }

    to {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.zoomIn {
    animation: zoomIn  0.8s linear;
}